# Ignore node_modules directory
node_modules/

# Ignore npm debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables file
.env

# Ignore any local or system-specific files
.DS_Store
Thumbs.db

# Ignore build/ and dist/ directories, if you have them
build/
dist/

# Ignore IDE-specific files (optional)
.vscode/
.idea/